<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_stars_black_24dp"
        android:label="Zone For Business"
        android:roundIcon="@drawable/ic_stars_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".userScreen.previzEvent.PrevizEventMain" />
        <activity android:name=".userScreen.previzEvent.PrevizEvent" />
        <activity
            android:name=".userScreen.events.petreceri.PetreceriPage4"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".userScreen.events.petreceri.SelectLocation" />
        <activity
            android:name=".userScreen.events.petreceri.PetreceriPage2"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".userScreen.events.petreceri.SelectPic" />
        <activity android:name=".termsAndConditions.Terms3" />
        <activity android:name=".termsAndConditions.Terms2" />
        <activity android:name=".termsAndConditions.Terms1" />
        <activity android:name=".termsAndConditions.TermsAndConditionsMain" />
        <activity
            android:name=".userScreen.events.Evenimente"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".userScreen.profile.Profile" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".userScreen.MainScreen" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>