<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_stars_black_24dp"
        android:label="Zone"
        android:roundIcon="@drawable/ic_stars_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".userScreen.profile.EditProfile" />
        <activity android:name=".userScreen.Groups" />
        <activity android:name=".userScreen.Evenimente" />
        <activity android:name=".userScreen.profile.Profile" />
        <activity android:name=".userScreen.MapActivity" />
        <activity android:name=".register.Register2" />
        <activity android:name=".register.Register4" />
        <activity android:name=".Login" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.Register" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".userScreen.MainScreen" />
        <activity android:name=".register.Register3" />
        <activity android:name=".register.Register1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".register.RegisterMainScreen" />
    </application>

</manifest>